{% extends 'factures/base.html' %}


{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="mb-2 page-title">Liste des factures</h2>
        <p class="card-text"> </p>
        <div class="row my-4">
          <!-- Small table -->
          <div class="col-md-12">
            <div class="card shadow">
              <div class="card-body">
                <!-- table -->
                <table class="table datatables" id="dataTable-1">
                  <thead>
                    <tr>
                      <th></th>
                      <th>#</th>
                      <th>Nom du client</th>
                      <th>Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for facture in factures %}
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox{{ facture.id }}">
                                <label class="custom-control-label" for="checkbox{{ facture.id }}"></label>
                            </div>
                        </td>
                        <td>{{ facture.id }}</td>
                        <td>{{ facture.client.nom }} {{ facture.client.prenom }}</td>
                        <td>{{ facture.date|date:"d M Y H:i" }}</td>
                        <td>
                          <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="tooltip" title="Voir les détails">
                            <i class="fas fa-eye"></i>
                        </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
          </div> <!-- simple table -->
        </div> <!-- end section -->
      </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </div> <!-- .container-fluid -->
  
{% endblock %}